* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "sans-serif";
    box-sizing: border-box;
  }
  
  #sp1 {
    background-color: #080800;
    width: 100%;
    height: 10vh;
  }
  
  .space {
    background: linear-gradient(90deg, #000000, #737373);
    width: 100%;
    height: 20vh;
  }
  body {
    background: #080800;
    color: #fff;
    overflow-x: hidden;
  }
  #header {
    width: 100%;
    height: 100vh;
    background-image: url(./images/bgimg.jpg);
    background-size: cover;
  
    background-position: center;
  }
  .container {
    padding: 10px 10%;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logo {
    width: 140px;
  }
  nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  .menuButton {
    display: none;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a::after {
    content: "";
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  nav ul li a svg {
    color: white;
  }
  
  .sidebar {
    top: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    backdrop-filter: blur(10px);
    z-index: 999;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .sidebar li {
    width: 100%;
  }
  
  .sidebar a {
    width: 100%;
  }
  
  .header-text {
    margin-top: 10%;
    font-size: 30px;
  }
  .header-text h3 {
    font-weight: 100;
    font-size: 30px;
  }
  .header-text #main {
    color: #ff004f;
    font-size: 50px;
    margin-top: 25px;
  }
  
  .auto-type {
    color: #ff004f;
  }
  
  /* PROJECTS*/
  
  .projects {
    width: 100%;
    height: 100vh;
  }
  
  .project-title {
    padding-top: 20px;
    padding-bottom: 20px;
  
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  #project-1 {
    width: 50%;
    float: left;
  }
  #project-2 {
    width: 50%;
    float: right;
  }
  
  #project-3 {
    width: 50%;
    float: left;
  }
  
  #project-4 {
    width: 50%;
    float: right;
  }
  .project-container {
    color: white;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: #f0004f;
  }
  
  .inner-cont {
    border-radius: 15px;
    width: 80%;
    height: 80%;
    border: 2px solid rgb(243, 16, 16);
    /* adding neor*/
    border: 2px solid #ff004f;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff004f;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .inner-cont:hover {
    box-shadow: 0 0 20px #ff004f;
  }
  
  .inner-left {
    border-radius: 15px;
    border: 1px solid black;
    width: 40%;
    float: left;
    height: 100%;
  }
  
  .inner-right {
    padding-left: 5px;
    border-radius: 15px;
    border: 1px solid black;
    float: right;
    width: 60%;
    height: 100%;
  }
  .right-title {
    border-radius: 15px;
    padding: 10px 10px;
  
    width: 100%;
    height: 30%;
  }
  
  .right-title a {
    text-decoration: none;
  }
  .right-desc {
    font-size: 15px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 10px;
    color: white;
  }
  .inner-left img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  
  .right-desc p {
    color: white;
  }
  .right-title h2 {
    color: white;
  }
  
  /*skills section*/
  
  .skills {
    width: 100%;
    height: 100vh;
  }
  
  .skills-title {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .skills-title h1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .skill-main {
    padding: 50px 13%;
    height: 90vh;
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
  }
  
  .skill-main .skill-bar .info {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .skill-bar .info .percent {
    font-weight: bold;
  }
  
  .skill-bar .bar {
    position: relative;
    border-radius: 15px;
    width: 100%;
    height: 10px;
    background-color: antiquewhite;
    margin-top: 5px;
  }
  
  .skill-bar .bar span {
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #f0004f;
    border-radius: 15px;
    box-shadow: #080800;
  }
  .skill-bar .bar .html {
    width: 70%;
    animation: html 3s;
  }
  
  .skill-bar .bar .css {
    width: 50%;
    animation: css 3s;
  }
  
  .skill-bar .bar .python {
    width: 60%;
    animation: python 3s;
  }
  
  .skill-bar .bar .flask {
    width: 40%;
    animation: flask 3s;
  }
  
  .skill-bar .bar .git {
    width: 70%;
    animation: git 3s;
  }
  
  .skill-bar .bar .ml {
    width: 50%;
    animation: ml 3s;
  }
  
  .skill-bar .bar .teamwork {
    width: 80%;
    animation: teamwork 3s;
  }
  
  .skill-bar .bar .creativity {
    width: 80%;
    animation: creativity 3s;
  }
  
  /*education*/
/*   
  .education {
    background: linear-gradient(90deg, #000000, #737373);
    padding: 0px 15px;
    width: 100%;
    height: 100vh;
  }
  
  .education-title {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .education h2 {
    margin-bottom: 1rem;
  }
  
  .timeline {
    margin: 2em auto;
    max-width: 34.15em;
  }
  
  .checkpoint {
    max-width: 34em;
    padding-top: 1em;
    padding-bottom: 1em;
    position: relative;
  }
  .checkpoint div {
    border: 1px solid #f0004f;
    border-radius: 1em;
    padding: 1.5em;
    border: 2px solid #ff004f;
    border-radius: 5px;
    box-shadow: 0 0 10px #ff004f;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }
  .checkpoint div:hover {
    box-shadow: 0 0 20px #ff004f;
  }
  .checkpoint p {
    line-height: 20px;
  }
  
  .checkpoint:nth-child(odd) {
    border-left: 3px solid #f0004f;
    padding-left: 3em;
    transform: translateX(17em);
  }
  
  .checkpoint:nth-child(even) {
    border-right: 3px solid #f0004f;
    padding-right: 3em;
    transform: translateX(-3.20em);
  }
  
  .checkpoint:nth-child(odd)::before,
  .checkpoint:nth-child(even)::before {
    content: "";
    background: #f0004f;
    width: 3em;
    height: 3px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .checkpoint:nth-child(odd)::before {
    left: 0;
  }
  
  .checkpoint:nth-child(even)::before {
    right: 0;
  } */
  


  /* new EDU AND EXP */

.eduexp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.econtainer{
    width: 100%;
    padding: 35px 10%;
}
.econtainer{
    padding-right: calc(10% - 30px);
}
main.row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

col header.title{
    color: #f0004f;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 0px 20px 30px;
}
.col .contents{
    padding:0px 30px;
    border-left: 2px solid white;
}
.col .contents .box{
    position: relative;
    padding:  20px;
    border: 1px solid #f0004f;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 20px;
    margin-top: 20px;

}
.col .contents .box:hover{
    box-shadow: 0px 3px 12px 0px #f0004f;
    border: 1px solid transparent;
}
.col .contents .box:before{
    content: ' ';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    right: calc(100% + 22px);
    top: 0;
    background-color: #f0004f;
    border: 2px solid #f0004f;
}
.box h4{
    position: relative;
    color: #f0004f;
}
.box h3{
    font-size: 13px;
    padding: 10px 0px 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.box p{
    line-height: 1.2;
    color: rgb(246, 211, 211);
}
/*  edu exp responsive ness */
@media (max-width:768px){
    main.row{
        grid-template-columns: 1fr;
    }
    .row .col:nth-child(2){
        margin-top: 30px;
    }
}

  /* CONTACT */
  
  .contact {
    background: linear-gradient(90deg, #000000, #737373);
    width: 100%;
    height: 100vh;
  }
  .contact-title {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .contact-title h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .contact-left {
    width: 40%;
    height: 90vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .contact-right {
    width: 60%;
    float: right;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-cont {
    border: 1px solid white;
    width: 80%;
    height: 80%;
    background-color: #ff004f;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu li {
    position: absolute;
    left: 0;
    list-style: none;
    transform-origin: 100px;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform: rotate(0deg) translateX(80px);
  }
  
  .menu.active li {
    transform: rotate(calc(360deg / 4 * var(--i)));
  }
  
  .menu li a {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    transform: rotate(calc(360deg / -4 * var(--i)));
  }
  
  .toggle {
    position: absolute;
    background: #f0004f;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 1.25s;
    font-size: 2em;
  }
  
  .menu .active .toggle {
    transform: rotate(315deg);
  }
  
  .form-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
  .form-container textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
  }
  
  .contact-input {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
  }
  
  .contact-input:focus {
    border: 1px solid #b8b2b4;
  }
  
  .contact-input::placeholder {
    color: #f0004f;
  }
  
  .form-container button {
    float: left;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }
  .form-container button b {
    color: #f0004f;
  }
  .download {
    text-align: center;
    width: 50%;
    float: right;
  }
  
  .download a {
    padding: 15px 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    float: right;
    border: 1px solid white;
    display: flex;
    color: #ff004f;
    background-color: white;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .download a b {
    text-align: center;
  }
  
  .last-cont {
    padding: 10px 10px;
    justify-content: space-between;
    display: flex;
    height: 50px;
    width: 100%;
  }
  footer {
    font-weight: 100;
    text-align: center;
    text-decoration: none;
  }
  
@media (max-width: 321px) {
    .header-text #main {
      font-size: 25px;
    }
    .header-text p {
      font-size: 20px;
    }
    .header-text h3 {
      font-size: 20px;
    }
    .right-title {
      font-size: 14px;
      padding-top: 23px;
    }
    .skill-bar {
      margin-top: 20px;
    }
    .skill-main {
      font-size: 12px;
      margin-top: -20px;
      display: block;
    }
    .toggle {
      width: 70px;
      height: 70px;
    }
    .contact-input {
      width: 358px;
      height: 34px;
    }
    .contact-right {
      width: 100%;
    }
    .contact-left {
      height: 50vh;
      width: 100%;
    }
  
    .form-container {
      align-items: center;
      justify-content: center;
    }
    .form-container button {
      font-size: 12px;
    }
    .download {
      width: 60%;
    }
    .download a {
      font-size: 12px;
    }
    .checkpoint div {
      font-size: 12px;
    }
  }
  
  @media (max-width: 426px) {
    #header {
      background-image: url(none);
    }
    .menuButton {
      display: block;
    }
    .header-text #main {
      font-size: 25px;
    }
    .hideOnMobile {
      display: none;
    }
  
    .checkpoint:nth-child(odd)::before,
    .checkpoint:nth-child(even)::before {
      content: none;
    }
    .checkpoint:nth-child(odd) {
      width: 80%;
      border-left: none;
      padding-left: 3em;
      transform: translateX(1em);
    }
    .checkpoint:nth-child(even) {
      width: 80%;
      border-right: none;
      padding-right: 3em;
      transform: translateX(4.15em);
    }
    .contact-input {
      margin-top: 0;
      height: 30px;
      width: 80%;
    }
  
    /*projects*/
    .project-container {
      width: 100%;
      float: none;
    }
    #project-1 {
      width: 100%;
    }
    #project-2 {
      width: 100%;
    }
    #project-3 {
      width: 100%;
    }
    #project-4 {
      width: 100%;
    }
    .projects {
      height: 200vh;
    }
    .right-desc p {
      display: none;
    }
  
    /*SKILSS*/
    .skills {
      height: 180vh;
    }
    .skill-main {
      font-size: 12px;
      margin-top: -20px;
      display: block;
    }
    .skill-main .skill-bar .info {
      display: flex;
      justify-content: space-between;
      padding: 13px 10px;
    }
  
    /*EDUCATION*/
  
    .checkpoint:nth-child(odd)::before,
    .checkpoint:nth-child(even)::before {
      content: normal;
    }
  
    .toggle {
      width: 70px;
      height: 70px;
    }
    .contact {
      height: 152vh;
    }
    .contact-left {
      height: 50vh;
      width: 100%;
    }
    .contact-right {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    .form-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  @media (min-width: 427px) {
    .checkpoint:nth-child(odd) {
      width: 60%;
    }
    .checkpoint:nth-child(even) {
      width: 60%;
      transform: translateX(-53.99px);
    }
  }
  
  @media (max-width: 700px) {
    #header {
      background-image: none;
      background-color: #080800;
    }
    body {
      overflow-x: hidden;
    }
    .education {
      height: 120vh;
    }
  }
  
  /* @media(max-width:400px){
      .sidebar{
          width: 100%;
      }
   } */
  
  @media (max-width: 400px) {
    /*contacts*/
  } 
  